<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>登录页面</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="https://www.layuicdn.com/layui/css/layui.css" />
    <script src="https://www.layuicdn.com/layui-v2.5.5/layui.js"></script>
</head>
<body>
<button type="button" class="layui-btn">public</button>
<button type="button" class="layui-btn layui-btn-normal">vip</button>

<a href="/resource/public" class="layui-btn">一个可跳转的按钮</a>
</body>
</html>